.program-card {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    height: auto; // ⭐ VERY IMPORTANT (card height)
    display: block;
    
    &:hover {
        transform: translateY(-8px);
        box-shadow:
            0px 0px 35px rgba(0, 0, 0, 0.06);
    }
    figure {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; // ⭐ image stretch fix
        display: block;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 25px;
        color: white;

        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 6px;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            opacity: 0.95;
        }
    }
}
