.signup-wrap{
    margin: 50px 0;
}

.left-box{
    width: 100%;
    height: 100vh;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
//   padding: 0 !important;
}
.form-box {
    margin: 0 10px;
}

.form-box {
  width: 100%;
  max-width: 520px;
  background: #ffffff;
  padding: 40px;
  border-radius: 40px;

  h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: left;
  }
}
