.card {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  &:hover{
      box-shadow: 0 0 20px #ed1c23a4;
  }
}

/* Image */
.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0); // initial
  display: flex;
  align-items: flex-end;
  padding: 20px;

  transition: background 0.4s ease;
}

/* Content */
.content {
  color: #fff;
  transform: translateY(40px); // initial নিচে
  opacity: 0;
  transition: all 0.4s ease;
}

.content h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.content p {
  font-size: 14px;
}

/* 🔥 HOVER EFFECT */

.card:hover img {
  transform: scale(1.08);
}

.card:hover .overlay {
  background: rgba(28, 28, 28, 0.55);
  
}

.card:hover .content {
  transform: translateY(0); // 🔥 extra 10px up
  opacity: 1;
}