.schools-card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
  height: 100%;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px #ed1c2351;
    .card-content{
        h5{
           color: #ed1c23; 
        }
    }
  }

  .card-img {
    width: 100%;
    height: 220px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-content {
    padding: 20px;

    h5 {
      font-family: "PT Sans";
      font-weight: 700;
      font-size: 20px;
      text-transform: capitalize;
      color: #2b2b2b;
      margin-bottom: 20px;
      padding: 0;
    }

    p {
      font-family: "Noto Sans";
      font-weight: 400;
      font-size: 15px;
      color: #494949;
    }

    .card-author {
      display: flex;
      align-items: center;
      margin-top: 20px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      span{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        margin-right: 8px;
      }

      p {
        font-family: "Noto Sans";
        font-weight: 600;
        font-size: 12px;
        color: #000000;
      }

      .coach {
        font-family: "Noto Sans";
        font-weight: 400;
        font-size: 10px;
        color: #000000;
        text-align: left;
      }
    }
  }
}
