.waiver-wrapper {
  margin: 33px 0 25px 0;
  display: inline-block;
  border-radius: 4px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  input {
    display: none;
  }

  .custom-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid #777;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  input:checked + .custom-checkbox {
    background-color: #ED1C24;
    border-color: #ED1C24;
  }

  input:checked + .custom-checkbox::after {
    content: "";
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .label-text {
    font-size: 15px;
    font-weight: 400;
    color: #333;
  }
}

.para {
  max-width: 579px;
}

.parathree {
  margin-top: 0 !important;
}

.btns {
  display: flex;
  align-items: center;
}

.btn-r {
  margin-left: 15px;
}

.para-head {
  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #2B2B2B;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    color: #494949;
    margin: 10px 0 33px 0;
  }
}