p {
  padding: 0 !important;
  margin: 0 !important;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

.accordion-button,
.accordion-body {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.faqs-section {
  margin-bottom: 50px;

  .accordion {
    margin-top: 50px;
  }


  .faqs-item {
    max-width: 100%;
    background: #ffffff;
    border-radius: 30px;
    padding: 28px 22px 28px 35px;
    box-shadow: 0px 7px 23px rgba(69, 69, 69, 0.05);
    transition: all 0.3s ease;
    margin-bottom: 15px;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 10px 25px rgba(69, 69, 69, 0.238);
    }

    .faqs-header {
      font-family: 'PT Sans';
      font-weight: 700;
      font-size: 20px;
      text-transform: capitalize;
      color: #2B2B2B;
      margin-top: 0;
      border: none;

      &:focus {
        box-shadow: none;
        outline: none;
      }

      &::after {
        content: '';
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url("../../assets/images/Faqs-arrow.png");
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
        margin-left: auto;
      }

      &:not(.collapsed)::after {
        transform: rotate(-90deg);
        // border: 1px solid #ED1C24;
        box-shadow: 0 0 10px rgba(255, 79, 79, 0.719);
        border-radius: 50%;
      }
    }

    .accordion-button:not(.collapsed) {
      background-color: #FFFFFF !important;
    }

    .accordion-collapse {
      overflow: hidden;
      transition: height 0.35s ease, padding 0.35s ease;
      padding-right: 25px;

    }


    .accordion-body {
      margin-top: 15px;

      p.faqs-details {
        font-family: 'Noto Sans';
        background: #FFFFFF;
        font-weight: 400;
        font-size: 15px;
        color: #494949;
        text-align: left;
      }
    }

  }
}


/* Responsive tweaks */

@media (max-width: 991px) {

  .common-heading h3 {
    font-size: 45px; 
}
 .faqs-section .faqs-item .faqs-header {
    font-size: 17px;
}

    .faqs-header {
      font-size: 16px;
    }

    .accordion-body p.faqs-details {
      font-size: 14px;
    }
  }


@media (max-width: 576px) {

  .faqs-section .faqs-item .faqs-header {
    font-size: 16px;
  }

  .accordion-header {
    .faqs-item {
      padding: 18px 12px;
    }

    .faqs-section .faqs-item .accordion-body p.faqs-details {
      font-size: 14px;
    }

  }

  .common-heading h3 {
    font-size: 40px;
    
  }
}