.same {
    text-align: center;
}
.testimonial{
    max-width: 100%;
}

.girl2 {
  display: flex;
  justify-content: center;

  img {
    width: 125px;
    height: auto;
  }
}

.miniheading {

    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #2B2B2B;
    margin: 38px 0 10px 0;
}

.coach {

    font-weight: 400;
    font-size: 15px;
    /* identical to box height, or 173% */
    text-align: center;

    color: #ED1C24;
}
.para{
    width: 790px;
    margin: auto !important;
}