.same {
    text-align: center;
}
.testimonial{
    max-width: 100%;
}

.girl2 {
  display: flex;
  justify-content: center;

  img {
    width: 125px;
    height: auto;
  }
}

.miniheading {

    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #2B2B2B;
    margin: 38px 0 10px 0;
}

.coach {

    font-weight: 400;
    font-size: 15px;
    /* identical to box height, or 173% */
    text-align: center;

    color: #ED1C24;
}
.paraa{
    max-width: 790px;
    margin: auto !important;
}
// .relative{
//     position: relative;

//     &::after{
//         content: "";
//     position: absolute;
//     bottom: 0%;
//     left: 0%;
//     height: 100px;
//     width: 100px;
//     background-image: url('../../assets/images/left1.png');
//     background-size: cover;
//     background-repeat: no-repeat;
//     z-index: -1;
//     pointer-events: none;
//     }
//     &::before{
//         content: "";
//     position: absolute;
//     bottom: 60%;
//     left: 0%;
//     height: 100px;
//     width: 100px;
//     background-image: url('../../assets/images/left2.png');
//     background-size: cover;
//     background-repeat: no-repeat;
//     z-index: -1;
//     pointer-events: none;
// }
// }
// .all{
//     position: relative;

//     &::after{
//         content: "";
//     position: absolute;
//     top: 15%;
//     right: 0%;
//     height: 100px;
//     width: 100px;
//     background-image: url('../../assets/images/right.png');
//     background-size: cover;
//     background-repeat: no-repeat;
//     z-index: -1;
//     pointer-events: none;
//     }
// }
