.left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF8F8;
  border-radius: 65px;
  
  .left-div {
    max-width: 900px;
    text-align: center;
    margin: 20px;
    margin: 30px 0;

    /* =======================
       IMAGE SECTION
    ======================== */
    .figu {
        max-width: 800px;
        margin: auto 0;
        
        .ima {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    
    /* =======================
    TEXT SECTION
    ======================== */
    .paragraph {
        margin-top: 70px;
        display: flex;
      justify-content: center;
      align-items: end;

      .com {
        font-size: 16px;
        color: #2B2B2B;
        font-weight: 500;
    }
    
    .redL {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 600;
        color: #ff2d2d;
        text-decoration: none;
        transition: all 1s ease-in-out;

        &:hover {
          text-decoration: underline;
        }
    }
}
}
}