.common-banner {
  background: #fff8f8;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 100px 0 260px;
  box-sizing: border-box;

  .content-wrapper {
    position: relative;
    z-index: 2;
  }

  h1 {
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 74px;
    text-align: center;
    color: #2b2b2b;

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      right: 285px;
      width: 43px;
      height: 43px;
      background-image: url("../../assets/images/Vector.png");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 26px;
      left: 180px;
      width: 12px;
      height: 12px;
      background-image: url("../../assets/images/borfi.png");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
  .props {
    &::before {
      content: "";
      position: absolute;
      bottom: -70px;
      right: -240px;
      width: 98px;
      height: 113px;
      background-image: url("../../assets/images/star.png");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  .breadcrumb-custom {
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #494949;
    position: relative;

    a {
      text-decoration: none;
      color: #494949;
      transition: 0.3s;

      &:hover {
        color: #ed1c24;
      }
    }

    .active-page {
      color: #494949;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -65px;
      left: 60px;
      width: 22px;
      height: 22px;
      background-image: url("../../assets/images/borfi.png");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: -130px;
      left: -80px;
      width: 46px;
      height: 22px;
      background-image: url("../../assets/images/cloud.png");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.Curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 0;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

/* =======================
   SM ≥576px
======================= */

// @media (min-width: 321px) {
//     .common-banner {

//         padding: 70px 0 90px;

//         h1 {
//             font-size: 28px;
//         }

//         .breadcrumb-custom {
//             font-size: 14px;
//         }
//     }
// }

// @media (min-width: 576px) {
//     .common-banner {
//         padding: 90px 0 110px;

//         h1 {
//             font-size: 30px;
//         }

//         .breadcrumb-custom {
//             font-size: 14px;
//         }
//     }
// }

// /* =======================
//    MD ≥768px
// ======================= */
// @media (min-width: 768px) {
//     .common-banner {
//         padding: 100px 0 120px;

//         h1 {
//             font-size: 36px;
//         }

//         .breadcrumb-custom {
//             font-size: 15px;
//         }
//     }
// }

// /* =======================
//    LG ≥992px
// ======================= */
// @media (min-width: 992px) {
//     .common-banner {
//         padding: 100px 0 140px;

//         h1 {
//             font-size: 42px;
//         }

//         .breadcrumb-custom {
//             font-size: 16px;
//         }
//     }
// }

// /* =======================
//    XL ≥1200px
// ======================= */
// @media (min-width: 1200px) {
//     .common-banner {
//         padding: 100px 0 260px;

//         h1 {
//             font-size: 48px;
//         }
//     }
// }
