.common-banner {
    background: #FFF8F8;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 100px 0 260px;
    box-sizing: border-box;

    .content-wrapper {
        position: relative;
        z-index: 2;
    }

    h1 {

        font-family: 'PT Sans';
        font-weight: 700;
        font-size: 74px;
        text-align: center;
        color: #2B2B2B;


    }

    .breadcrumb-custom {

        font-family: 'Noto Sans';
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #494949;


        a {
            text-decoration: none;
            color: #494949;
            transition: 0.3s;

            &:hover {
                color: #ED1C24;
            }
        }

        .active-page {
            color: #494949;
        }
    }
}

.Curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 0;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}


/* =======================
   SM ≥576px
======================= */

@media (min-width: 321px) {
    .common-banner {

        padding: 70px 0 90px;


        h1 {
            font-size: 28px;
        }

        .breadcrumb-custom {
            font-size: 14px;
        }
    }
}

@media (min-width: 576px) {
    .common-banner {
        padding: 90px 0 110px;

        h1 {
            font-size: 30px;
        }

        .breadcrumb-custom {
            font-size: 14px;
        }
    }
}


/* =======================
   MD ≥768px
======================= */
@media (min-width: 768px) {
    .common-banner {
        padding: 100px 0 120px;

        h1 {
            font-size: 36px;
        }

        .breadcrumb-custom {
            font-size: 15px;
        }
    }
}


/* =======================
   LG ≥992px
======================= */
@media (min-width: 992px) {
    .common-banner {
        padding: 100px 0 140px;

        h1 {
            font-size: 42px;
        }

        .breadcrumb-custom {
            font-size: 16px;
        }
    }
}


/* =======================
   XL ≥1200px
======================= */
@media (min-width: 1200px) {
    .common-banner {
        padding: 100px 0 260px;

        h1 {
            font-size: 48px;
        }
    }
}