.commonBanner {
  background: #fff8f8;
  position: relative;
  overflow: hidden;
  padding: 100px 0 260px;
  box-sizing: border-box;
  text-align: center;
}

/* Alignment */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.contentWrapper {
  position: relative;
  z-index: 2;
  max-width: 585px;
}

/* Heading */
.commonBanner h1 {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 74px;
  color: #2b2b2b;
  position: relative;
  margin: 0 auto;
}

/* Decorative before/after */
.commonBanner h1::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 80px;
  width: 43px;
  height: 43px;
  background-image: url("../../assets/images/Vector.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.commonBanner h1::after {
  content: "";
  position: absolute;
     top: 25px;
    left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../../assets/images/borfi.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}

/* Breadcrumb */
.breadcrumbCustom {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 20px;
  color: #494949;
  position: relative;

}

.breadcrumbCustom a {
  text-decoration: none;
  color: #494949;
  transition: 0.3s;
}

.breadcrumbCustom a:hover {
  color: #ed1c24;
}

.activePage {
  color: #494949;
  cursor: pointer;
}

.activePage:hover {
  color: #ed1c24;
}

// .props::before {

// }

/* Breadcrumb decorations */
.breadcrumbCustom::before {
  content: "";
  position: absolute;
    bottom: -65px;
    left: -250px;
  width: 22px;
  height: 22px;
  background-image: url("../../assets/images/borfi.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.breadcrumbCustom::after {
  content: "";
  position: absolute;
  top: -120px;
  left: -388px;
  width: 46px;
  height: 22px;
  background-image: url("../../assets/images/cloud.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Curve */
.curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 0;
}

.curve::before {
  content: "";
  position: absolute;
  bottom: 183px;
  right: -31px;
  width: 98px;
  height: 113px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHwAAACHCAYAAADUSz1kAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAA/MSURBVHgB7V1betNKEq6WTcJ88wBnBWNWMGEFOG8HAsFZAWYFwApIVnCSFZCswIEQct7is4KEFSBWQOaJJMjqqapuXWzLti7dsoL7/z6IL7Il61fdq0sADg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4OKwZ5ctKFFUQbVgxyMHgIrfV9fPgA/w1hxeDBbwJ5dtaRn04/yNPTjZnbnJx1ob1+AQJegZRXsIJYCuHzSCmN6+srEKIHobiQn758k5+/vEJp7sT7PDlFqZbn+LADK4zaCUcp7CMpf4FhiJ0dkthL9QRJlXCI0vwNpfocyb7AF9/oI7iEFUathJPaRSl8jw+7bEuN70Acqb/g434O9YtdJHuDX5OAj71jfll4Pqwg6pXwIBxApFLba6/ANEbXmkz5EH5dv4O2eIS2+jWSvgujm8di+9k/sOKozUtHtbrLkhYD7S3AARgEqXV58mWIj7pwb/2lePqUJP4we2tp3o+4A6hFwlmVA6tygNDr6Vc3rKh1EEO1H1LlWQcTftePeuzcpRy7VYB1wpnUgL1jerYrXv75ETj+FQ9JCsEg1IUl+/xEoM3OgNjeOmRVD2Tn0by01y7Io4cVgX0Jv3efPHLymn3xYmtP71bZ2llSWBaxjyAvk31NA1W9D8HNY+Wx44WHHj1Ku/HIoYmwSjiHYJIl7gqdps34jUB+5L8CemAIsY9A3nhwu5O5DWobefL3G7TzAwrZxnwKAX1K3MBvDgGWwOo1iBId8i1K3JiDhvExnnCJ7402xYsXQ6gAvrCEUGSpkMxP3g3/wX3vTm2ncInbD/Hv8ap48Pa8dFavAlW5PES7meWNH+K/XZAtsuNDKAl9YSXqWPAF1km2EF0slAz5ohLeK7oi0HHbh9GvPZ2sWSlYIXxMvY5uZ9jSACWqRQ9Irb+DsqCUKqxtQks8yHi3hxfAW7yoKMe+E/sMK0o2wbhK1xL3TT2B7jxVibb0B/4hL/6x2NkynvLkCIGKJdqR0zb7WLx4tgMriikJ58JGKMj2TsbIKBFihlTI5L0gSmhgCLa9Nd8uUr6bJLDtkVo3TrhKxJxgpq11HjtooXcIDQKFhOL5syOoCSL7ID6jGvTKhykUgm0/e7RwM25CIDIAbeyzTbAEDrnowsILEx24P6be//wFfy8XV9DhQ5+jJgKUEwl/YVTxqC4TkxmWiefPqUHgWD8lMgTGrX+Ah85Q1j9UyVyYiP6NKMbNgSAgqaYf2p0sZxrF6Ib8CB+P7XjyLTZBEk86O3qyyzH5yZfzWjJw7ERiHqB9/w3UhJk2fMz+SdhHiS3vWM0BnVz8001ewdQoShn8uvkHr3ofDIG1SXjvgc70Ja8PkPA2+Rxkllq7qPNRE6hEEeUOTB7D2H7Tvg7tO7h9bGtfacx12lIqF0zEy5n7oB/+K+xifEzpze74u5QXF8cQ/Pxo82TEFx1e2HBPHCARlLHbYCLk6LXY3j4Gg9AXGZnMVOKJnErMQEr4HqeFg+tL06p+oZee2HP7V6HqN1vDUEqQE9eFtOMo+SQc43sfxYunQzAILW0Xan9yjxI1id2nDcJ3YpvNXLnvZ0e49QS1Rxcmf9fMD9nRMLnCspTatepcTe33498voSV7mLzpQro1icmXlEg5MkX+eBZOk35yihU+sZt+DUpi7AJajCvK9dsQrnyEj6dJK/3wssAT9gQ80Z8mH+396PadCdWXRbBR0se+aw48zEtsmc9LEHInXuqw54uP4ayL/5MUdoC9e4z1X2wZbaJYSLoI+xjFlA7bFoe8An/T0z2whNzVMiaYnBoCpSqtNC/MhkrXxlrmklWeYbIJXFbltih+9p4ra8HtAbdJ8YF4h1UWMaiQN13cmURoNR4vVB7VodlQNQ6sD6AGcL/5ydl53DGDhQ8kxarzyE0SqFYB2FHsQQvD0+D2KCYdvEG1OD1d3Jnau7GScRaK18Pbgq5+lSz59DmvE1IKnAFj75kTIr7KzT+3kg+YBNvQtiAH1ecLvLV+zqRLOOJkCT4vo+WmPkOVu7jDll/YAIsoTDh3i0ipTrqokH6dA9WogFLNGTAMYbicWX/XKf9WRfplTHpL7sfPy2i59v2I0CE7Z3gBi+dPX6sOWzKZ4koOTq2RXrXjxWhCgqCXA31jqSZNIoMdPikpL5y2UQ6cfeh2qIT0kUCSR3TB+0Bajn2LIgi4u4bC27QnTvshk4mvYw3i1gdLKFUeVTYVCQm93mSqsixUKndtN1khghIQ3LxO2+qpbbi7RR6hqj20nZbUqWZyGjd0HmAviduXE7WUQWHCkxxwduWpLOKLaEa4pcu2yUIGJWGdZAOMx1twYCt+5V1Mks62lxy5+nLhVVFcpQdCtRZL8+pcf29vimxy3lSNvsMnmmwfqT6qzEUOjxB9XkjIa8nsqHs2K0q9K0dOhB2IWq7b63eiAbKEDQ/7/Ee27BCeQhySTTpvWorJiYsdHkW8r7SEPLdFPJOuHDn0LyjzB0mJ9w4MGShEuGr0V+rMlO2eixG8T5w3FZJlpVDZ4VHEb+pY2Y+JpzXjhmvbKlIBlZwRso8Xm774W++h4Sgm4b9ktOR2CHUgjBbtU7vU4pCMiadMWUL8Fat6WjaMxQuTxOPxHOswijTPBtwRKS9GeLxwIJ0oyEbS9F/hBIioh84rlOBIEf84sfFYqaJkicllRVEnzdgiyWZLeW7C9dSGju5Xy5S2hGS0u+31Hyii+1RwKR6rmkFK1VN/3WU0KMCUmmfzIuMW6+ii7NZdZyiC/BIuvUx1nk1yvGZMh0hchCjeJ0bdH+rBRhWClMQ/e6yLIj6reUPSzqp9ciFFwUWS3AFTEwoQHpEoDheQPMSvfUtNj3ySMSkBOivFJ7mciu/F4zsqkKRXjm6ymjcq7aPxcmYIuVOjXC5ty291acGcHS9ch9a1cOozm1r1OeR+rODnUZYXrZM1FKfqz003EsSJl4nFC6mul36yse54Gd3ulU126A4Xsrcqtm/JnSpJm4lmzEt1sef5XJxwgjoydvkknMZcxciUZDzQPw9mdZ1olbqZlBdVnTmPZFH4lxQXWCUrWxx53yWlPpb26Ps4aVNFytJSPq/8OQmZsvf2Hb68PW3UTtuBBZKc77u4c0Z1raQka5aEZ34HaQyK0dPtThWkfqyjhUIt9L7L/D48T9QIqdS5Jzv4u74v/ky0ilaDBMjiooSFEq6SLd5+HknOA1ZZFSUr8r5VejVD6skuF8iypbpcrnT4dlHOrovq2UfvX0/AIkpVy0whs6kvh4RnflfS5NhPfRfm3WE376KGsWbNEm3CyaIGyP07piQ8Yy29SSx19KaSLKCVnH78opeqgBX5rnReHU8aRAUONaDvIo83ntXwUGRqpNjBz8/tV8vC5AjQYkmmolj6rFWOY6OTbOL7VJbtIKXuh0BJkdjJQ2dxjrqPGx6olYlNDhQiHfep1HpL+vk+IKzZ6yw0YrhunBiJvXhD34ueOEcHSTWN0IuraTO8e/JR8ELsx7nyQqSLr/zn9vZ/+bavd8jvUm143VA2OqQVm32ImycwrxBcv55lqxM/A4nxYHNRrB7ZcV5xm+eYPp99GPM7fmcbXjeiokpK3fscCibVtCn7qf2MRNIXeu/XyZDfMghbPljEShGeRpJ40WYkCscyVDf344+3J3dmfi8XVApMbJYTTmr48ytYxMoSTkiVUama5s/LC7BNj9uT1wZzK2Jlu4GoEmm5L26lCY+gncZHGanfcVKjfjaqf7fWZ6ZBi3UDpRYeUM7AMhzhKahxnXF1rzeZcWN17UnKG3BGTn761IMK0OZDXVSU6MEEEViGI3wCqdRvvMRojHTy0kWoCiWi4qJKHhIQfbG03ltPqP8WGCenb5o+vTgz45YmXQ09Gionbq3CciueJwN6Pqy1UCyNJUi4N3N6McWwy2qHmsTUEqNJ7zxaVIkZvDJNHTrb1+EnaLvrGtu1vPuWsQ38QjbwHaoztGXeE1Vrn19x0vcd67J0CRq3ma4nY5qSBuBT86OBgTg82G8w2OTVJgLLnso73+RMHF4QSNq+cvS4jj0s8t3qVlr0g2j5c/kBA0Wx3BvV8SBcGKiEn4xem56lRtIg5Uu+TVVcWZLJZ5Itde4Q/7bXqT5N8bDP31lyDBiTfna2o6posXeuGheD6wPcD6llbk/O262if09fVeR+7UGNqF+lSxl5pdG6aJJCTbK8mpyCqJov5LmepNiBYiAvuDd2S6sy3TGk3se8c7UuXmkQsa+2KtKtIj+kyq+/b/GE7XM0yQjVrm5i+AMPY6g2yFyv5oO5I+hq/4GbBos0OYx75xinR58lKS+wCEH7KA9tDv2bh1qKJ6poAR/ifriJeeUoee+VLaTZLbeVr3oVKq11eKS28Db0fDTVVz+2oWqQKDJbFS+WQ93jF48wS45//lgzNYQQtdWSyCZYJzxjmS9ES21pWhGTs/ZvTGkGaoKzzTGfNFmhzQPy3kLJ0V96yfA3daxqYJ9+7QdvMKcnjTVAEFzWrcbTqK08Oj1kT5Ubpy4G3pimPpgddzl1PFMtUfm1SzLEj9eFP9L3S9NtynbLm1WxlHp46uRccXilbGB0oh+yl13TAvtUB2wf1N2QcvaTR79BzVWraxR4VSyJ8L/fqNUqALZmihaFbmAc0E1v8piUhGAl5fxipOottxpXwXJy6dFtrNSTd00YlZFqs/qapyiiY+4h6HnnY3c3NnwDPpNYCuFJdyet+7Zrq4uC++ByH1O02kTnxG3dgM8gllgtE/vz7h54F6ClnP0QVvHeSJc3RRcaiqURTitY4LeAzrTJ1kvd4EjZuE5T14i7enhVBKCSNiLuPPX5/3Z7AxoIR3hFJP6IVutCKMdNtP4DDYQj3ASi1SbQfgJSE15gKECdcISbgXbWqDgj9YoT6Wz4b4vRzVA9kBvxHYmE6EAD4Qg3AF0X91WPm1RdGbLcKljbcIQbg15tMmpuDE5whJuCjFR5MyU7giPcGPQyYVm4DatWOMJNQcStWB1oMBzhphA4wlcM142sf0/CEW4IUw0PwmS3rTk4wo2i6ASn+uEItwWZd4pTvXCE24LwfGggHOG2IJyErxZC57StFkY3VqcxlYUj3ArkletLXwlETQ+666WBcISbRUT4EBoKR7ghjLUly5pu5FcCjnBTWFvrxI8b6rARHOGmEMaD7YdNddgIjnBjEP9Vf2Wj1spNwhFuCpLvJU51cevjM6vAEW4KQqjbbO9sNTYkIzjCjYGGCzbXO4/gCDcAHZI9hBE0fkWsI9wE2vfvhDonOMLN4Ekdw+1NwBFuBt06htubgCPcBGToN2EwUR44wiuCJyPfAWctgiO8KsLwwV1w1iI4wqsivL0TttvBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBweH/+3/JWytBPqUAAAAASUVORK5CYII=);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}

.curve img {
  width: 100%;
  height: auto;
  display: block;
}

/* ======================= */
/* Responsive */
/* ======================= */

@media (min-width: 321px) {
  .commonBanner {
    padding: 70px 0 90px;
  }

  .commonBanner h1 {
    font-size: 28px;
  }

  .breadcrumbCustom {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .commonBanner {
    padding: 90px 0 110px;
  }

  .commonBanner h1 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .commonBanner {
    padding: 100px 0 120px;
  }

  .commonBanner h1 {
    font-size: 36px;
  }
}

@media (min-width: 992px) {
  .commonBanner {
    padding: 100px 0 140px;
  }

  .commonBanner h1 {
    font-size: 42px;
  }
}

@media (min-width: 1200px) {
  .commonBanner {
    padding: 100px 0 260px;
  }

  .commonBanner h1 {
    font-size: 48px;
  }
}