.commonBanner {
  background: #fff8f8;
  position: relative;
  overflow: hidden;
  padding: 100px 0 260px;
  box-sizing: border-box;
  text-align: center;
}

/* Alignment */
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.contentWrapper {
  position: relative;
  z-index: 2;
  width: auto;
}

/* Heading */
.commonBanner h1 {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 74px;
  color: #2b2b2b;
  position: relative;
  margin: 0 auto;
}

/* Decorative before/after */
.commonBanner h1::before {
  content: "";
  position: absolute;
  top: -40px;
  right: 285px;
  width: 43px;
  height: 43px;
  background-image: url("../../assets/images/Vector.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.commonBanner h1::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 180px;
  width: 12px;
  height: 12px;
  background-image: url("../../assets/images/borfi.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Breadcrumb */
.breadcrumbCustom {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 20px;
  color: #494949;
  position: relative;

}

.breadcrumbCustom a {
  text-decoration: none;
  color: #494949;
  transition: 0.3s;
}

.breadcrumbCustom a:hover {
  color: #ed1c24;
}

.activePage {
  color: #494949;
  cursor: pointer;
}
.activePage:hover{
  color: #ed1c24;
}

.props::before {
  content: "";
  position: absolute;
  bottom: -70px;
  right: -240px;
  width: 98px;
  height: 113px;
  background-image: url("../../assets/images/star.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Breadcrumb decorations */
.breadcrumbCustom::before {
  content: "";
  position: absolute;
  bottom: -65px;
  left: 60px;
  width: 22px;
  height: 22px;
  background-image: url("../../assets/images/borfi.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.breadcrumbCustom::after {
  content: "";
  position: absolute;
  top: -130px;
  left: -80px;
  width: 46px;
  height: 22px;
  background-image: url("../../assets/images/cloud.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Curve */
.curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 0;
}

.curve img {
  width: 100%;
  height: auto;
  display: block;
}

/* ======================= */
/* Responsive */
/* ======================= */

@media (min-width: 321px) {
  .commonBanner {
    padding: 70px 0 90px;
  }
  .commonBanner h1 {
    font-size: 28px;
  }
  .breadcrumbCustom {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .commonBanner {
    padding: 90px 0 110px;
  }
  .commonBanner h1 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .commonBanner {
    padding: 100px 0 120px;
  }
  .commonBanner h1 {
    font-size: 36px;
  }
}

@media (min-width: 992px) {
  .commonBanner {
    padding: 100px 0 140px;
  }
  .commonBanner h1 {
    font-size: 42px;
  }
}

@media (min-width: 1200px) {
  .commonBanner {
    padding: 100px 0 260px;
  }
  .commonBanner h1 {
    font-size: 48px;
  }
}
