.all {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 15%;
    right: 0%;
    height: 100px;
    width: 100px;
    background-image: url('../../../assets/images/right.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
  }
}

.relative {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100px;
    width: 100px;
    background-image: url('../../../assets/images/left1.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 60%;
    left: 0%;
    height: 100px;
    width: 100px;
    background-image: url('../../../assets/images/left2.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
  }
}

/* Swiper global classes must use :global */
:global(.swiper) {
  padding-bottom: 40px;
}

:global(.swiper-pagination-bullet) {
  background: #000;
  opacity: 0.4;
}

:global(.swiper-pagination-bullet-active) {
  opacity: 1;
}