.all-flex{
    display: flex;
    align-items: center;
}
img{
    max-width: 100%;
}

.side{
    width:50%
}
.right .custom-btn{
    padding: 20px 38px ;
    margin-top: 38px;
      text-transform: uppercase;

}
