.wrapper {
  padding: 80px 0;
}

.heading {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 26px;
  text-transform: capitalize;
  color: #2B2B2B;
  margin-bottom: 6px;
}

.subText {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 15px;
  color: #494949;

}

.toggleBox {
  display: inline-flex;
  margin: 54px auto 40px auto;
  background: #FFF8F8;
  border-radius: 30px;

}

.toggleBtn {
  border: none;
  background: transparent;
  // padding: 10px 25px;
  border-radius: 40px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 15px;
  color: #494949;
  width: 259px;
  height: 53px;




}

.active {

  color: white;
background: #ED1C24;
border-radius: 30px;

}