.wrapper {
  width: 100%;
}

/* SHIMMER */

.shimmer {
  position: relative;
  overflow: hidden;
  background: #e5e7eb;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;

    width: 150px;
    height: 100%;

    background: linear-gradient(
      90deg,
      transparent,
      rgba(255,255,255,0.6),
      transparent
    );

    animation: shimmer 1.5s infinite;
  }
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

/* TOP BAR */

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;

  margin-bottom: 40px;
}

.tabs {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.tab {
  width: 120px;
  height: 44px;
  border-radius: 12px;
}

.addBtn {
  width: 160px;
  height: 50px;
  border-radius: 14px;
}

/* CONTENT */

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

/* LEFT */

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fullCard {
  width: 100%;
  height: 90px;
  border-radius: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.card {
  width: 100%;
  height: 90px;
  border-radius: 20px;
}

/* RIGHT */

.rightSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* PROFILE */

.profileCard {
  padding: 30px;
  border-radius: 24px;
  background: #fff;

  box-shadow:
    0 4px 20px rgba(0,0,0,0.06);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 140px;
  height: 140px;

  border-radius: 50%;

  margin-bottom: 24px;
}

.name {
  width: 180px;
  height: 24px;

  border-radius: 8px;

  margin-bottom: 14px;
}

.age {
  width: 120px;
  height: 18px;

  border-radius: 8px;

  margin-bottom: 24px;
}

.button {
  width: 160px;
  height: 50px;

  border-radius: 14px;
}

/* PAYMENT */

.paymentCard {
  padding: 30px;
  border-radius: 24px;

  background: #fff;

  box-shadow:
    0 4px 20px rgba(0,0,0,0.06);
}

.planTop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

.planText {
  width: 120px;
  height: 18px;
  border-radius: 8px;
}

.badge {
  width: 90px;
  height: 30px;
  border-radius: 999px;
}

.planTitle {
  width: 80%;
  height: 28px;
  border-radius: 8px;

  margin-bottom: 16px;
}

.planDesc {
  width: 100%;
  height: 18px;
  border-radius: 8px;

  margin-bottom: 24px;
}

.price {
  width: 140px;
  height: 40px;
  border-radius: 8px;

  margin-bottom: 30px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.bottomItem {
  flex: 1;
}

.smallText {
  width: 90px;
  height: 14px;

  border-radius: 8px;

  margin-bottom: 10px;
}

.mediumText {
  width: 120px;
  height: 18px;

  border-radius: 8px;
}

/* RESPONSIVE */

@media (max-width: 992px) {

  .content {
    grid-template-columns: 1fr;
  }

  .row {
    grid-template-columns: 1fr;
  }

  .topBar {
    flex-direction: column;
    align-items: flex-start;
  }
}