*{
  padding: o;
  margin: 0;
}
.home-banner {
  padding: 80px 0;
  background-color: #FFFAFA; 
  padding-bottom: 220px;
  position: relative; 
  overflow: hidden;
   z-index: 1;

  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 191px;
    background-image: url("../../assets/images/Vector 1.png");
    background-size: cover;
  background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
  }

  &::after{
    content: "";
    position: absolute;
    bottom: 23%;
    right: 10%;
    width: 46px;
    height: 22px;
    background-image: url("../../assets/images/Vector 10.png");
    background-size: cover;
  background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
  }

  .row{
    align-items: center;
  }

  .left-content {
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: -46%;
        left: -14%;
        width: 46px;
        height: 22px;
         background-image:  url("../../assets/images/Vector 10.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
     &::after{
        content: "";
        position: absolute;
        top: -28px;
        right: 20px;
        width: 40px;
        height: 40px;
         background-image: url("../../assets/images/Vector.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    .common-heading {
      h2 {
        font-weight: 600;
        margin-bottom: 15px;
        position: relative;

        &::before{
         content: "";
        position: absolute;
        top: -40%;
        left: 40%;
        width: 17px;
        height: 17px;
         background-image: url("../../assets/images/borfi.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
      }

      h3 {
        font-size: 48px;
        font-weight: 800;
        line-height: 1.1;
        color: #1a1a1a;

        // Etai holo apnar red color-er magic
        .red-text {
          color: #e62e2d; 
          display: inline-block;
          margin-top: 5px;
        }
      }

      p {
        margin-top: 20px;
        font-size: 15px;
        width: 420px;
        color: #555;
      }
    }
  }

  .banner-btn{
    text-align: left;
    margin-top: 20px;

    &::after{
         content: "";
        position: absolute;
        bottom: -25%;
        right: 0px;
        width: 126px;
        height: 94px;
         background-image: url("../../assets/images/Vector 66.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    &::before{
         content: "";
        position: absolute;
        bottom: -20%;
        left: 0px;
        width: 17px;
        height: 17px;
         background-image: url("../../assets/images/borfi.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
  }

  .right-image {
    text-align: right;
    position: relative;

    &::after{
         content: "";
        position: absolute;
        top: -8%;
        right: 50%;
        width: 62px;
        height: 69px;
         background-image: url("../../assets/images/fly.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &::before{
         content: "";
        position: absolute;
        bottom: 25%;
        right:  -33%;
        width: 62px;
        height: 69px;
        background-image: url("../../assets/images/flower.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    figure{
        width: 110%;
    }

    img{
        max-width: 100%;
    }
    
    
    
  }
}


//=========================RESPONSIVE=============================================

// @media (max-width: 1200px) {
//   .home-banner {
//     .right-image {
//       img {
//         width: 100%;
//         max-width: 550px;
//       }
//     }
//   }
// }

// @media (max-width: 992px) {
//   .home-banner {
//     padding: 60px 0;

//     .row {
//       flex-direction: column;
//       text-align: center;
//     }

//     .left-content {
//       margin-bottom: 40px;
//     }

//     .common-heading {
//       h3 {
//         font-size: 38px;
//       }
//     }

//     .banner-btn {
//       text-align: center;
//     }

//     .right-image {
//       text-align: center;

//       img {
//         max-width: 500px;
//         width: 100%;
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   .home-banner {
//     padding: 50px 0;

//     .common-heading {
//       h3 {
//         font-size: 30px;
//       }

//       p {
//         font-size: 14px;
//       }
//     }

//     .left-content{
//       text-align: center;
//     }

//     .right-image {
//       img {
//         max-width: 100%;
//       }
//     }
//   }
// }

// @media (max-width: 576px) {
//   .home-banner {
//     padding: 40px 0;

//     .common-heading {
//       h3 {
//         font-size: 24px;
//       }
//     }

//     .banner-btn {
//       margin-top: 15px;
//     }

//     .right-image{
//       width: 400px;
//     }
//   }
// }
