.othersProgram {
  margin: 20px 0;
}

.programTitle {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  color: #2b2b2b;
  margin-bottom: 25px;
}

.programImages {
  display: flex;
  justify-content: space-between;
}

.imageCard {
  width: 267px;
  height: 267px;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px #ed1c23a4;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
