.para-head {
    h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-transform: capitalize;
        color: #2B2B2B;
    }

    p {
        font-weight: 400;
        font-size: 15px;
        color: #494949;
        margin: 10px 0 33px 0;
    }
}

.para {
    max-width: 579px;
}

.btns {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.btn-b {
    button {
        padding: 16px 50px !important;   /* BACK button */
    }
}

.btn-r {
    margin-left: 15px;

    button {
        padding: 16px 40px !important;   /* NEXT button */
    }
}

.mid h3 {
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: #2B2B2B;
}

.program-info {
  display: flex;
  align-items: center;
  margin: 40px 0 30px 0;
}

.program-left,
.program-right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.label {
  font-size: 14px;
  color: #9c9c9c;
  font-weight: 400;
}

.value {
  font-size: 16px;
  font-weight: 500;
  color: #2b2b2b;
}

.program-right {
    margin-left: 100px;
}