.cards-section {   /* center container like design */
    margin: 50px auto 0 auto;      /* top bottom space + center */
    display: flex;
    // justify-content: space-between;  /* equal spacing */
     /* all cards same height */
    gap: 30px;              /* space between cards */
}

/* every card takes equal width */
.cards-section .mini-card {
    flex: 1;
}



/* control paragraph readable width (THIS creates line break) */
.why-choose-us .common-heading p {
    max-width: 100%;
    line-height: 26px;

}

/* optional: heading width consistency */
.why-choose-us .common-heading {
    max-width: 900px;
    margin: 0 auto;
}
.program-part{
    margin-bottom: 40px;
}
.view-btn
{
    display: flex;
    justify-content: center;
}
.view-btn .custom-btn
{
    padding: 20px 50px;
    border-radius: 50px;
}
.minii-card
{
    background-color: #FFFFFF;
}
.back-color{
    background-color: #FFFCF3;
    position: relative;
    z-index: 1;   // ⭐ important
    padding: 200px 0 250px 0;
}
.back-color::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 191px;
    background-image: url("../../assets/images/curve.png");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;   // ⭐ MAIN FIX
}
.back-color::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 191px;
    background-image: url("../../assets/images/curve1.png");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;   // ⭐ MAIN FIX
}
