
.container{
    max-width: 1140px;
    margin: auto;
}

.cards-section {   /* center container like design */
    margin: 50px auto 0 auto;      /* top bottom space + center */
    display: flex;
    justify-content: space-between;  /* equal spacing */
    gap: 30px;              /* space between cards */
}

/* every card takes equal width */
.cards-section .mini-card {
    flex: 1;
}

/* control paragraph readable width (THIS creates line break) */
.why-choose-us .common-heading p {
    max-width: 100%;
    line-height: 26px;

}

/* optional: heading width consistency */
.why-choose-us .common-heading {
    max-width: 900px;
    margin: 0 auto;
}

