.program-card {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    height: auto; // ⭐ VERY IMPORTANT (card height)
    display: block;
    max-width: 100%;
    transition: 0.3s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: all 0.4s ease;

    &:hover {
        cursor: pointer;
        transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08),
        0 20px 40px rgba(255, 0, 0, 0.15)

}
    

    figure {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; // ⭐ image stretch fix
        display: block;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding: 25px;
        color: white;

        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 15px;
            font-family: 'Noto Sans';


        }

        p {
            font-size: 15px;
            opacity: 0.95;
            font-weight: 400;
            color: #FFFFFF;
            font-family: 'Noto Sans';
            width: 291px;


        }
    }
}