.program-card {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    height: auto;
    display: block;
    max-width: 100%;
    transition: all 0.4s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

    &:hover {
        cursor: pointer;
        transform: translateY(-6px);
        box-shadow: 0 0 20px #ed1c2351;
        transform: scale(1.03);
    }

    figure {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 25px;
        color: white;
        border-radius: 25px;

        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 15px;
            font-family: 'Noto Sans';
        }

        p {
            font-size: 15px;
            opacity: 0.95;
            font-weight: 400;
            color: #FFFFFF;
            font-family: 'Noto Sans';
            width: 291px;
        }
    }
}