.signin-wrap{
    margin: 50px 0;
}
.left-box{
    width: 100%;
    height: auto;
    background-color: #FFF8F8;
    border-radius: 65px;
}

/* RIGHT SIDE */
.right {
  padding: 60px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* LOGIN TOGGLE BUTTON */
.login-toggle {
  display: flex;
  gap: 15px;

  button {
    flex: 1;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid #ff2d2d;
    background: transparent;
    color: #ff2d2d;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active {
      background: #ff2d2d;
      color: #fff;
    }
  }
}