.WhyUs-para {
    margin-top: 20px;
    
    p {
        font-family: 'Noto Sans';
        font-weight: 400;
        font-size: 15px;
        line-height: 1.7;
        color: #494949;
        text-align: center;
        width: 890px;
        margin: auto !important;
    }
}