* {
    margin: 0;
    padding: 0;
}


.text-left {
    text-align: left ;
}

.text-center {
    text-align: center ;
}

.text-right {
    text-align: right ;
}

.common-heading h2 {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.common-heading h3 {
    font-weight: 700;
    font-size: 56px;
    text-transform: capitalize;
    color: #2B2B2B;
}
.common-heading p{
font-weight: 400;
font-size: 15px;
color: #494949;


}