*
{
    margin: 0;
    padding: 0;
}
.why-choose-us h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #ED1C24;
}

.why-choose-us h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    text-transform: capitalize;
    color: #2B2B2B;
}