.resetpass {

  .resetpassWrap {
    margin: 30px 30px;
  }

  .left {
    // display: flex;
    // align-items: center;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 121px;
  }

  .formBox {
    width: 100%;
    max-width: 480px;
  }

  .head {
    margin-bottom: 35px;
    text-align: center;

    .fig {
      height: 89px;
      width: 204px;
      margin: 0 auto 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .head2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 10px;
      color: #2B2B2B;
    }

    .para {
      font-size: 15px;
      color: #494949;
    }
  }

  .authForm {
    display: flex;
    flex-direction: column;

    .formGroup {
      margin-bottom: 20px;
    }

    .inputWrapper {
      position: relative;
      width: 100%;
    }

    .inp {
      width: 100%;
     padding: 40px 20px 20px 20px;  
      border-radius: 15px;
      border: 1px solid #B3B3B3;
      font-size: 16px;
      outline: none;
      transition: all 0.3s ease;
      background: #fff;

      &:focus {
        border-color: #ff2d2d;
        background: #f9f9f9;
      }

      &:focus + .lbl,
      &:not(:placeholder-shown) + .lbl {
        top: 32px;
        font-size: 14px;
        // color: #ff2d2d;
      }
    }

    .lbl {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      color: #B3B3B3;
      transition: all 0.3s ease;
      pointer-events: none;
      // background: white;
      // padding: 0 5px;
    }

    .submitBtn {
     
    height: 60px;
    border-radius: 40px;
    background: #ff2d2d;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 14px 48px;
    margin: 0 auto;

      &:hover {
        background: #e60000;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}