.head figure{
    height: 89px;
    width: 204px;
    padding: 0;
    margin-bottom: 50px;
}

.head {
    margin-bottom: 35px;
}

.head h2{
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    font-size: 26px;
    color: #2B2B2B;
    font-weight: 700;
}

.head p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: #494949;
}

.form-box {
    padding: 0;
}

.auth-form {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  

  .form-group {
    margin-bottom: 20px; 
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  .checkbox-group {
    margin-bottom: 20px;
  }

  .submit-btn {
    margin-top: 10px; 
  }
}