.mini-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 7px 23px rgba(69, 69, 69, 0.05);


    border-radius: 30px;
    padding: 35px 16px 33px 16px;
    transition: all 0.35s ease;

    &:hover {
        transform: translateY(-8px);
        box-shadow:
            0px 0px 35px rgba(0, 0, 0, 0.06);
    }

    .icon-box {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 26px;

        /* allow dynamic background from props */
        background: #FFE9E9;

        img {
            width: 38px;
        }
    }

    h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        text-transform: capitalize;
        color: #2B2B2B;
        margin-bottom: 12px;
    }

    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        max-width: 240px;   /* changed from fixed width */
        color: #6A6A6A;
        margin-top: 0;
    }
}
