.custom-btn {
  position: relative;
  padding: 20px 28px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
  transition: transform 0.3s ease;
}

.custom-btn span {
  position: relative;
  z-index: 2;
}

.custom-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  width: 0%;
  transition: width 0.4s ease;
  z-index: 1;
}

.custom-btn:hover::before {
  width: 100%;
}

.custom-btn:hover {
  transform: scale(1.05);
}

/* 🔴 PRIMARY */
.primary {
  background: #ED1C24;
}

.primary::before {
  background: #2B2B2B;
}

/* ⚫ DARK */
.dark {
  background: #2B2B2B;
}

.dark::before {
  background: #ED1C24;
}
