@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

.customBtn {
  position: relative;
  padding: 20px 28px;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #FFFFFF;
  font-family: "Noto Sans";
  transform: scale(1);

  span {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    width: 0%;
    transition: width 0.4s ease;
    z-index: 1;
  }

  &:hover::before {
    width: 100%;
  }

  &:hover {
    transform: scale(1.05);
  }
}

/* 🔴 PRIMARY */
.primary {
  background: #ED1C24;

  &::before {
    background: #2B2B2B;
  }
}

/* ⚫ DARK */
.dark {
  background: #2B2B2B;

  &::before {
    background: #ED1C24;
  }
}