.twoSide {
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.buttonWrapper {
  margin-top: 38px;

  :global(.custom-btn) {
    display: inline-block;
    padding: 20px 48px;
  }
}

.firstPara {
  max-width: 540px;
}

.secondPara {
  max-width: 580px;
}