.all-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    max-width: 100%;
}

.side{
    width:50%;
}

.bt .custom-btn{
    display: inline-block;
    margin-top:  38px;
    padding: 20px 48px;
}
.first-para {
    width: 576px;
}
.second-para {
    width: 580px;
}