
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fustat:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.container {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 12px;
}

img {
  max-width: 100%;
  height: auto;
}

.common-space {
  padding: 95px 0 0 0;
}

.common-space1 {
  padding: 0 0 95px 0;
}

.both-space {
  margin: 95px 0;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFF8F8;
  border-radius: 10px;
}

/* Red–White Thumb */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ED1C24;

  background-image: repeating-linear-gradient(
    135deg,
    #FFF8F8 0px,
    rgb(254, 209, 209) 6px,
    transparent 6px,
    transparent 12px
  );
}
