@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fustat:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fustat:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
  padding: 0;
}

/* Fix horizontal overflow issue */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* removes right side white space */
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 12px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.row {
  gap: 0 !important;
}

.common-space {
  padding: 95px 0 0 0;
}

.common-space1 {
  padding: 0 0 95px 0;
}

.both-space {
  margin: 95px 0;
}