.layout {
  min-height: 100vh;
  background: #fafafa;
}

/* Full width header */
.headerSpace {
  height: 110px;
}

.body {
  display: flex;
  margin-top: 110px; /* Header height */
}

/* Sidebar */
.sidebar {
  width: 280px;
  height: calc(100vh - 110px);
  position: fixed;
  left: 0;
  top: 110px;
  background: #fff;
  border-right: 1px solid #eee;
}

/* Main Content */
.main {
  margin-left: 280px;
  width: calc(100% - 280px);
  min-height: calc(100vh - 110px);
}

.content {
  padding: 20px;
}