p {
    padding: 0 !important;
    margin: 0 !important;
}

img {
    width: 100%;
    height: 100%;
}

// .accordion-button,
// .accordion-body {
//     padding: 0 !important;
//     border: none !important;
//     box-shadow: none !important;
//     outline: none !important;
// }

.faqs-wrap {
    .row {
        gap: 0px !important;
      
    }

    .faqs-left {
        max-width: 100%;
    }

    .faqs-right {
        max-width: 100%;
       

        figure {
            max-width: 100%;
            height: 100%;
           
        }
    }
}


// /* Responsive tweaks */
// @media (max-width: 991px) {
//   .faqs-item {
//     padding: 20px 15px;
//   }

//   .faqs-header {
//     font-size: 18px;
//   }

//   .accordion-body p.faqs-details {
//     font-size: 14px;
//   }
// }

// @media (max-width: 576px) {
//   .faqs-item {
//     padding: 18px 12px;
//   }

//   .faqs-header {
//     font-size: 16px;
//   }

//   .accordion-body p.faqs-details {
//     font-size: 13px;
//   }
// }