.mini-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 7px 23px rgba(69, 69, 69, 0.05);
    border-radius: 30px;
    padding: 35px 16px 33px 16px;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 25px #fa4b516f;
        border: 1px solid #ED1C24;
    }
}

.icon-box {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
    padding: 20px;
    box-sizing: border-box;
    background: #FFE9E9;

    img {
        max-width: 100%;
    }
}

.mini-card h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    text-transform: capitalize;
    color: #2B2B2B;
    margin-bottom: 12px;
    white-space: nowrap;
    letter-spacing: -0.04em;
}

.mini-card p {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    max-width: 240px;
    color: #6A6A6A;
    margin-top: 0;
}